@media (max-width: 768px) {
    .logo-title {
        font-size: 1.25rem;
    }
    
    .section-title {
        font-size: 1.5rem;
    }
    
    .stat-icon {
        width: 44px;
        height: 44px;
        font-size: 1.125rem;
    }
    
    .stat-value {
        font-size: 1.25rem;
    }
}

@media (max-width: 992px) {
}

@media (min-width: 1200px) {
}

